@reference "../../index.css";

.swiper .like {
    @apply absolute top-[10px] right-[10px] bg-white rounded-full p-1 drop-shadow-xl z-40;
}

.swiper .like svg {
    @apply size-5;
}

.swiper .like:hover > svg {
    @apply transition duration-700 ease-in-out fill-red-500;
}

.swiper .bottom {
    @apply p-5 text-left text-black;
}

.swiper .rating {
    @apply flex items-center;
}

.swiper .rating h6 {
    @apply text-sm text-black ml-2;
}

.swiper .rating svg {
    @apply w-[20px] h-[20px];
}

.swiper .bottom h4 {
    @apply text-sm my-2 whitespace-nowrap overflow-hidden text-ellipsis max-w-[180px];
}

.swiper .bottom h4 > span {
    @apply absolute inset-0;
}

.swiper .bottom p {
    @apply text-sm font-medium;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    @apply text-xl font-bold;
}

.arrivalsSwiper {
    @apply w-full h-full;
}

.arrivalsSwiper .swiper-wrapper {
    @apply mb-[50px];
}

.arrivalsSwiper .swiper-slide {
    @apply text-lg flex flex-col justify-between bg-gray-200 h-[355px] lg:h-[455px];
}

.arrivalsSwiper .swiper-slide .top {
    @apply relative;
}

.arrivalsSwiper .swiper-slide h5 {
    @apply absolute top-[10px] left-[10px] bg-gray-50 rounded-full text-sm text-black font-bold p-2 drop-shadow-xl;
  }

.arrivalsSwiper .swiper-slide a {
    @apply h-full flex flex-col justify-between;
}

.arrivalsSwiper .top > img {
    @apply aspect-square w-full rounded-md object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80;
}

.arrivalsSwiper .swiper-button-next {
    @apply p-[20px_19px_20px_20px];
}

.arrivalsSwiper .swiper-button-prev {
    @apply p-[20px_20px_20px_19px];
}

.arrivalsSwiper .swiper-button-next,
.arrivalsSwiper .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 35%);
    height: 20px;
    width: 20px;
    border-radius: calc(infinity * 1px);
    background: #000;
    color: #fafafa;
}